VITE_API_BASE=https://<api-id>.execute-api.<region>.amazonaws.com/prod
# Optional if you wire Amplify Auth UI later
VITE_COGNITO_USER_POOL_ID=ap-south-1_R1cmGkY0f
VITE_COGNITO_CLIENT_ID=53juobs9osbv16uudmppvuajob
